$phone: 14px;
$p-font-size: 15px;
$p-font-size-small: 16px;
$p-font-size-medium: 17px;
$p-font-size-large: 19px;

$h1-font-size-large: 7.2rem;
$h1-font-size-small: 5.6rem;
$h2-font-size: 4.8rem;
$h3-font-size-large: 3.2rem;
$h3-font-size-small: 1.8rem;
$h4-font-size: 2.4rem;

$primary--blue: rgb(1, 109, 225);
$secondary--blue: rgb(48, 105, 178);

$secondary--rust: rgb(188, 57, 8);
$secondary--orange: #f6aa1c;
$secondary--black: #383d3b;
$white: #f7f7ff;

$primary--green: #619b8a;
$secondary--green: #002e2c;

$secondary--seashell: #eee2df;
$secondary--gold: #f4c95d;
$secondary--eggplant: #795663;
