:root {
  --primary--1: #016de1;
  --primary--2: #3069b2;

  --secondary--1: #ff9700;
  --secondary--2: #fba31e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* utility classes */
.container {
  width: 1200px;
  margin: 0 auto;
}

.section-heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}

.section-heading span {
  color: var(--secondary--1);
}

.section {
  transition: transform 0.5s, opacity 0.5s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* /////////////////////////////////////////////////////////////////////////////////// 
///////////                     NAV                    /////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/
#logo {
  color: #fff;
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 94px;
  height: 70px;
}

.nav h1 {
  font-size: 2.4rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: 400;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 36px;
  font-size: 1.6rem;
  font-weight: 600;
}

.link-nav {
  text-decoration: none;
  color: #fff;
}

.link-nav:hover {
  color: var(--primary--2);
}

.cta-btn {
  font-size: 2.4rem;
  width: 222px;
  height: 48px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary--1);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.cta-btn:hover {
  background-color: var(--secondary--2);
  transform: scale(1.01);
}

.cta-btn:active {
  transform: scale(0.99);
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

/* MOBILE Navigation */

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  /* transform: translateX(-100vw); */

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-logo {
  font-size: 2.4rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: 400;

  color: #000;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 5rem;
  gap: 5rem;
}

.mobile-nav-link {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.mobile-link-nav {
  color: #000000;
  text-decoration: none;
}

.mobile-link-nav .mobile-nav .mobile-nav-links li {
  height: 20%;
  overflow: hidden;
}

/* Menu Bars */
.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 15;
  display: inline;
  cursor: pointer;
}

.menu-bars:active {
  background-color: #fff;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #000;
  margin: 8px 0;
  transition: 0.4s;
}

/* Overlay */

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  /* transform: translateX(-100vw); */

  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

/* MOBILE NAV MENU ANIMATIONS */

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}
/* 
.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
} */

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
/*/////////////////////////////////////////////////////////////////////////////////// 
///////////                     Header IMG                    /////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

.landing {
  background-image: linear-gradient(
      to right bottom,
      rgb(53, 144, 243, 0.35),
      rgb(143, 184, 237, 0.35)
    ),
    url("imgs/desert-converted.webp");
  /* background-size: cover; */
  background-position: 50% 70%;
  height: 400px;
  position: relative;
}

.landing h2 {
  color: #fff;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*///////////////
///////////                     About                    /////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

.about {
  display: flex;
  margin: 100px auto;
  gap: 40px;
}

.about--2 {
  flex-direction: row-reverse;
}

.about__headshot {
  position: relative;
}

.about__headshot::before {
  content: "";
  height: 600px;
  width: 450px;
  background-color: var(--secondary--1);
  z-index: -1;
  position: absolute;
  top: 10px;
  left: -10px;
  border-radius: 6px;
}

.img__headshot {
  height: 600px;
  width: auto;
  border-radius: 6px;
}

.about__text p {
  margin-top: 30px;
  font-size: 1.8rem;
  color: #646464;
}

.icons {
  padding: 0 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.about--icon {
  font-size: 75px;
  color: #3590f3;
}

/*///////////////
///////////                     CTA                    /////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

.section-cta {
  padding: 0 0 12.8rem;
  position: relative;
  margin: 0 auto;
  /* width: 1200px; */
}

.cta {
  /* z-index: 15; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(
    to right bottom,
    rgb(53, 144, 243, 0.35),
    rgb(143, 184, 237, 0.35)
  );
  /* temporary */
  overflow: hidden;
}

.cta-text-box {
  font-family: "Poppins", sans-serif;
  color: #3590f3;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

/* .cta .heading-secondary {
  color: #646464;
  margin-bottom: 3.2rem;
} */

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #646464;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgb(53, 144, 243, 0.35),
      rgb(143, 184, 237, 0.35)
    ),
    url("../imgs/website-converted.webp");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #646464;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form select {
  color: #aaa;
}

.cta-text-box form div {
  align-items: flex-start;
}

.btn {
  width: 100%;
  align-self: flex-end;
}

/*/////////////// 
///////////                     Footer                    /////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

.footer {
  padding: 12.8rem 0;
  background: linear-gradient(
    to right bottom,
    var(--primary--1) 0,
    var(--primary--2) 96%
  );
  color: #fff;
  border-top: 1px solid #eee;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
  text-decoration: none;
  font-size: 2.4rem;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: 400;
}

.foot-logo {
  font-family: "Lora", serif;
  color: #fff;
  text-decoration: none;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.6;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:active,
.footer-link:hover {
  color: #555;
}
