@use "../abstracts/" as a;
.contact {
  &__landing {
    background-image: linear-gradient(
        to right bottom,
        rgba(53, 144, 243, 0.35),
        rgba(143, 184, 237, 0.35)
      ),
      url("../imgs/shared/desert-converted.webp");
    background-position: 50% 70%;
    height: 30rem;
  }

  &__section {
    // height: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 10rem 0;
  }
}
