@use "../abstracts/" as a;

.mobile {
  position: fixed;
  top: 7rem;
  left: 0;
  background-color: a.$primary--blue;
  height: 60rem;
  width: 100%;
  z-index: 50;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5rem;
    // margin-top: 5rem;
  }

  &::before {
    content: "";
    height: 100%;
    width: 100vw;
    background-color: a.$primary--blue;
    position: absolute;
    bottom: 100%;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100%;
  }
}

/* Rotate first bar */
.change .nav__mobile__bar--1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}

/* Fade out the second bar */
.change .nav__mobile__bar--2 {
  opacity: 0;
}

/* Rotate last bar */
.change .nav__mobile__bar--3 {
  transform: rotate(45deg) translate(-3px, -7px);
}
